<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.black.mapper.CatMapper" >
    <select id="querryAll" resultType="com.black.pojo.Cat">
        select c_id,c_name,c_variety,c_gender,c_age,c_state,c_birthday
        from catlist
    </select>

    <update id="update" parameterType="com.black.pojo.Cat">
        update catlist
        <set>
          <if test="cname != null">
              c_name = #{cname},
          </if>
          <if test="cvariety != null">
              c_variety = #{cvariety},
          </if>
          <if test="cgender != null">
              c_gender = #{cgender},
          </if>
          <if test="cage != null">
              c_age = #{cage}
          </if>
        </set>
        <where>
            <if test="cid != null">
                c_id = #{cid}
            </if>
        </where>
    </update>

    <delete id="delete" parameterType="com.black.pojo.Cat">
        delete from catlist
        <where>
            <if test="cid != null">
                c_id = #{cid}
            </if>
        </where>
    </delete>
</mapper>